name: beamfit
channels:
  - conda-forge
  - defaults
dependencies:
  # Python
  - python=3.11
  - numpy
  - matplotlib
  - scipy
  - setuptools
  - wheel
  - build
  - pytest
  - pytest-cov
  - pre-commit